{% extends "layout.html" %}

{% block title %}
    Camboost - Tips
{% endblock %}

{% block header_class %}exercise-header{% endblock %}

{% block content %}

<section class="simple-banner">
    <img src="/static/imagenes/banners/bannerl5.jpg" alt="Image of people working">
</section>


<section class="center">
    <section class="width">
                    <section class="exercise-section">
                        <h1>Mocks Exames and complete books</h1>
                        <img class="construction" src="/static/imagenes/exercise/construction.png" alt="Construction Alert">
                    </section>
    </section>
</section>
{% endblock %}