{% extends "layout.html" %}

{% block title %}
    Camboost - Tips
{% endblock %}

{% block content %}


    <section class="center">
        <section class="width">

            <section id="faqs">
                <div class="faqs-container">
                    <h2>Frequently Asked Questions (FAQs)</h2>
                    <div class="faq">
                        <div class="question" onclick="toggleAnswer(this)">What is TalkPal?</div>
                        <div class="answer">TalkPal is a language learning platform that uses the latest GPT technology to help students excel in mastering the English language through innovative modes and personalized features.</div>
                    </div>
                    <div class="faq">
                        <div class="question" onclick="toggleAnswer(this)">How can I sign up for TalkPal?</div>
                        <div class="answer">You can sign up for TalkPal by visiting our website and clicking on the "Sign Up" button. Follow the instructions to create your account.</div>
                    </div>
                    <div class="faq">
                        <div class="question" onclick="toggleAnswer(this)">What types of English exams can TalkPal help me prepare for?</div>
                        <div class="answer">TalkPal can help you prepare for various Cambridge English Exams such as KET, PET, FCE, CAE, and CPE.</div>
                    </div>
                    <div class="faq">
                        <div class="question" onclick="toggleAnswer(this)">Is there a mobile app for TalkPal?</div>
                        <div class="answer">Yes, TalkPal is available as a mobile app on both iOS and Android platforms. You can download it from the App Store or Google Play.</div>
                    </div>
                    <div class="faq">
                        <div class="question" onclick="toggleAnswer(this)">Can I use TalkPal for other languages besides English?</div>
                        <div class="answer">Currently, TalkPal focuses on English language learning. We plan to expand our offerings to include other languages in the future.</div>
                    </div>
                </div>
            </section>


        </section>
    </section>

{% endblock %}