{% extends "layout.html" %}

{% block title %}
    Camboost - Home
{% endblock %}

{% block content %}

    <section class="banner">
        <img class="banner-img" src="/static/imagenes/banners/banner1.jpg" alt="Imagen de Fondo"> 
        <div class="banner-overlay"></div> 
        <div class="banner-text">
            <h1>Welcome to CAMBOOST!</h1>
            <p>Step into the world of CAMBOOST, your dedicated partner in mastering the CAE exam. Our mission is to empower you on your educational journey, providing you with the tools, resources, and support needed to excel in your CAE learning endeavors.</p>
        </div>
    </section>
    <section class="center">
        <section class="width">
                    <section class="introduction">
                        <h2>What we offer to our students.</h2>
                        <section class="boxes">
                                <section class="box">
                                    <h3>Tips and PDFS</h3>
                                    <div class="line-one"></div>
                                    <div class="box-img">
                                        <img src="/static/imagenes/introduction/papers.jpg" alt="">
                                    </div>
                                    <div class="box-text">
                                        <p>Access a range of downloadable PDFs with practice materials and exam information</p>
                                        <a href="/">See more</a>
                                    </div>
                                </section>
                                <section class="box">
                                    <h3>Online Excercises</h3>
                                    <div class="line-two"></div>
                                    <div class="box-img">
                                        <img src="/static/imagenes/introduction/student.jpg" alt="">
                                    </div>
                                    <div class="box-text">
                                        <p>Explore comprehensive online resources to master the Cambridge Advanced Exam with ease.</p>
                                        <a href="/">See more</a>
                                    </div>
                                </section>
                                <section class="box">
                                    <h3>Personalized Videos</h3>
                                    <div class="line-three"></div>
                                    <div class="box-img">
                                        <img src="/static/imagenes/introduction/students.jpg" alt="">
                                    </div>
                                    <div class="box-text">
                                        <p>Watch personalized video tutorials tailored to your learning needs.</p>
                                        <a href="/">See more</a>
                                    </div>
                                </section>
                        </section>
                    </section>
                    <section class="learnmore">
                        <section class="learnmore-box">
                            <div class="learnmore-text">
                                <img src="/static/imagenes/index/cae-structure.jpg" alt="">
                                <h2>LEARN WHAT THE CAE STRUCTURE IS LIKE</h2>
                                <p> With our expertly crafted study guides, tips, and real exam simulations, you'll gain the confidence and skills needed to achieve top scores. Whether you're just starting your preparation or looking to fine-tune your abilities, our comprehensive resources will support you every step of the way. </p>
                                <a class="button" href="/">Learn More »</a>
                            </div>
                            <div class="learnmore-img">
                                <img src="/static/imagenes/index/triangle.jpg" alt="">
                            </div>
                        </section>
                        <section class="learnmore-box">
                            <div class="learnmore-img">
                                <img src="/static/imagenes/index/circulo.png" alt="">
                            </div>
                            <div class="learnmore-text">
                                <img src="/static/imagenes/index/cae-material.jpg" alt="">
                                <h2>Comprehensive Study Materials and Exercises</h2>
                                <p>We offer a variety of downloadable PDFs, interactive exercises, and practice tests to enhance your learning experience. Our materials are designed to cover all exam sections, from reading and writing to listening and speaking. Each resource is crafted to reinforce your knowledge, improve your skills, and help you track your progress effectively. </p>
                                <a class="button" href="/">Learn More »</a>
                            </div>
                        </section>
                        <section class="learnmore-box">
                            <div class="learnmore-text">
                                <img src="/static/imagenes/index/cae-teach.jpg" alt="">
                                <h2>Distinctive Teaching Methods </h2>
                                <p>Our personalized approach ensures that each student receives the guidance and support they need to excel in the Cambridge Advanced Exam. Through a combination of video tutorials, interactive sessions, and one-on-one mentoring, we provide an engaging and effective learning experience. Our experienced educators utilize proven strategies and innovative techniques to make learning both enjoyable and impactful. </p>
                                <a class="button" href="/">Learn More »</a>
                            </div>
                            <div class="learnmore-img">
                                <img src="/static/imagenes/index/linea.png" alt="">
                            </div>
                        </section>
                    </section>  
        </section>
    </section>
                    <section class="videos">
                        <div class="video-container">
                            <div class="video-thumbnail">
                                <img src="/static/imagenes/index/thumbnail.jpg" alt="Video Thumbnail" id="video-thumbnail">
                            </div>
                            <div class="videos-text">
                                <h2>Learn with our videos in a creative and unique way.</h2>
                                <p>Our channel is full of educative content curated for all our users. We hope you can learn and have fun while watching our videos. Don’t be afraid of joining our new community.</p>
                                <a href="https://www.youtube.com/watch?v=06s-HUV_ORI&ab_channel=Camboost" target="_blank">Watch Now!</a>
                            </div>
                        </div>
                    </section>
    <section class="center">
        <section class="width">
            <section class="partnerships">
                <p>We work in Partnership with:</p>
                <div class="partnership-img">
                    <img src="/static/imagenes/index/Capria.png" alt="Logo Capria Industries">
                </div>
                <div class="partnership-img">
                    <img src="/static/imagenes/index/revire.png" alt="Logo Revire">
                </div>
                <div class="partnership-img">
                    <img src="/static/imagenes/index/samsung.png" alt="Logo de Samsung">
                </div>
            </section>
        </section>
    </section>

{% endblock %}