{% extends "layout.html" %}

{% block title %}
    Camboost - Tips
{% endblock %}

{% block header_class %}tips-header{% endblock %}

{% block content %}

    <section class="simple-banner">
            <img src="/static/imagenes/banners/bannerl1.jpg" alt="Image of people working">
    </section>

    <section class="center">
        <section class="width">
                <section class="tips">
                    <div class="universal-nav-wrapper">
                            <div class="universal-nav">
                                <a href="#structure">Structure</a>
                                <a href="#read">UOE Tips</a>
                                <a href="#write">Writing Tips</a>
                                <a href="#speak">Speaking Tips</a>
                                <a href="#listen">Listening Tips</a>
                            </div>
                    </div>
                    <section class="tips-container">
                        <div class="tips-info">
                            <div class="tips-section">
                                <h1>Cambridge Certificate in Advanced English (CAE)</h1>
                                <p>The <span class="bold">Cambridge Certificate in Advanced English (CAE)</span> exam is a rigorous assessment of English language proficiency designed <span class="bold">for non-native speakers aiming to study or work in an English-speaking environment.</span></p>
                                <p>Administered by Cambridge Assessment English, the CAE <span class="bold">evaluates skills across four key areas: Reading and Use of English, Writing, Listening, and Speaking.</span></p>
                            </div>
                            <div class="sidebar">
                                <div class="sidebar-line"></div>
                                <div class="sidebar-text">
                                <h2>Levels of Achievement</h2>
                                <p>The Cambridge Certificate in Advanced English (CAE) is accredited at Level C1 of the CEFR, indicating advanced English proficiency. CAE certification is widely recognized in academic and professional spheres globally, offering substantial career and educational benefits.</p>
                                </div>
                            </div>
                            <div class="tips-section">
                                <h2 id="structure" class="tips-main">CAE - Structure</h2>
                                <h2>Reading and Use of English (1 hour 30 minutes):</h2>
                                <ul>
                                    <li><span class="bold">Part 1:</span> Multiple-choice cloze (8 questions)</li>
                                    <li><span class="bold">Part 2:</span> Open cloze (8 questions)</li>
                                    <li><span class="bold">Part 3:</span> Word formation (8 questions)</li>
                                    <li><span class="bold">Part 4:</span> Key word transformations (6 questions)</li>
                                    <li><span class="bold">Part 5:</span> Multiple-choice (6 questions)</li>
                                    <li><span class="bold">Part 6:</span> Cross-text multiple-matching (4 questions)</li>
                                    <li><span class="bold">Part 7:</span> Gapped text (6 questions)</li>
                                    <li><span class="bold">Part 8:</span> Multiple Matching (10 questions)</li>
                                </ul>
                                <p>Sources: Newspapers, magazines, journals, fiction and non-fiction books, promotional and informational materials.</p>
                            </div>
                            <div class="tips-section">
                                <h2>Writing (1 hour 30 minutes):</h2>
                                <ul>
                                    <li><span class="bold">Part 1:</span> Compulsory essay (220-260 words)</li>
                                    <li><span class="bold">Part 2:</span> Choose one task from: a letter/email, a proposal, or a report (220-260 words).</li>
                                </ul>
                            </div>
                            <div class="tips-section">
                                <h2>Listening (40 minutes):</h2>
                                <ul>
                                    <li><span class="bold">Part 1:</span> Multiple-choice (6 questions)</li>
                                    <li><span class="bold">Part 2:</span> Sentence completion (8 questions)</li>
                                    <li><span class="bold">Part 3:</span> Multiple-choice (6 questions)</li>
                                    <li><span class="bold">Part 4:</span> Multiple-matching (10 questions)</li>
                                </ul>
                            </div>
                            <div class="tips-section">
                                <h2>Speaking (15 minutes per pair of candidates):</h2>
                                <ul>
                                    <li><span class="bold">Part 1:</span> Interview (2 minutes)</li>
                                    <li><span class="bold">Part 2:</span> Long turn (1 minute per candidate, plus a 30-second response from the second candidate)</li>
                                    <li><span class="bold">Part 3:</span> Collaborative task (3 minutes: 2-minute discussion + 1-minute decision-making task)</li>
                                    <li><span class="bold">Part 4:</span> Discussion (5 minutes)</li>
                                </ul>
                                
                            </div>
                            <div class="sidebar">
                                <div class="sidebar-line"></div>
                                <div class="sidebar-text">
                                <h2>DISCLAIMER</h2>
                                <p> The Use of English section is integrated into the Reading and Writing sections, evaluating various language skills. Time management is crucial, as the exam is timed. Pace yourself across sections to maximize performance.</p>
                            </div>
                        </div>
                        <section class="tips-section">
                            <h2 class="tips-main" id="read">Reading and Use of English Tips:</h2>
                            <h2>General Tips</h2>
                            <ul>
                                <li>Practice regularly to familiarize yourself with the format and types of questions.</li>
                                <li>Manage your time effectively; don't spend too long on any single question.</li>
                                <li>Skim the text to get the general idea and then scan for specific information.</li>
                                <li>Pay close attention to the instructions for each part.</li>
                                <li>Use the context of the surrounding text to help determine the meaning of unknown words.</li>
                                <li>Regularly practice grammar and vocabulary exercises.</li>
                                <li>Always double-check your answers if time permits.</li>
                            </ul>
                        </section>
                    
                        <section class="tips-section">
                            <h2>Part 1 - Multiple-choice Cloze</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Read the entire text to understand the context before answering.</li>
                                <li>Eliminate answers that you know are incorrect first.</li>
                                <li>Look for grammatical clues and contextual hints to narrow down your choices.</li>
                                <li>Choose the answer that best fits the context and is grammatically correct.</li>
                            </ul>
                        </section>
                    
                        <section class="tips-section">
                            <h2>Part 2 - Open Cloze</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Read the text to understand the overall meaning before filling in the blanks.</li>
                                <li>Consider the grammatical structure of the sentence.</li>
                                <li>Use the context to determine what type of word (e.g., conjunction, preposition) is needed.</li>
                                <li>Check if the sentence makes sense with your chosen word.</li>
                            </ul>
                        </section>
                    
                        <section class="tips-section">
                            <h2>Part 3 - Word Formation</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Determine if the word needed is a noun, verb, adjective, or adverb.</li>
                                <li>Pay attention to prefixes and suffixes that change the form of the word.</li>
                                <li>Consider whether the word should be positive or negative, and whether it should be in the past, present, or future tense.</li>
                                <li>Look for compound words and internal changes (e.g., "heat" to "hot").</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                            <h2>Part 4 - Key Word Transformations</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Understand the meaning of the sentence before you start.</li>
                                <li>Determine if you need to change the sentence to passive voice, reported speech, or another grammatical structure.</li>
                                <li>Avoid repeating words from the original sentence.</li>
                                <li>Use synonyms and related expressions to transform the sentence.</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                            <h2>Part 5 - Multiple Choice</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Carefully read all the options before selecting your answer.</li>
                                <li>Eliminate obviously incorrect answers first to narrow down your choices.</li>
                                <li>Consider all parts of the question, including context and tone, to determine the best answer.</li>
                                <li>Be cautious of trick questions that may seem correct at first glance.</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                            <h2>Part 6 - Gross-Text Multiple-Matching</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Read each text and question carefully to understand the writer's opinions.</li>
                                <li>Use keywords and phrases in the questions to locate relevant sections in the texts.</li>
                                <li>Match the reader's opinion to the correct text based on the given options.</li>
                                <li>Eliminate incorrect options systematically to increase your chances of selecting the correct answers.</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                            <h2>Part 7 - Gapped Text</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Read the entire text first to understand its overall theme and structure.</li>
                                <li>Identify key ideas and pronouns that indicate the relationship between sentences.</li>
                                <li>Match each gap with a sentence or phrase that logically fits into the context of the text.</li>
                                <li>Review your answers to ensure that the completed text makes sense and flows coherently.</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                            <h2>Part 8 - Multiple Matching</h2>
                            <p>Tips:</p>
                            <ul>
                                <li>Read all the questions and answer options carefully before making your selections.</li>
                                <li>Identify key information in the questions that will help you find the correct answers in the text.</li>
                                <li>Match each question to the most appropriate section of the text based on its content and theme.</li>
                                <li>Eliminate irrelevant options to narrow down your choices and improve your accuracy.</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                        <h2 class="tips-main" id="write">Writing Tips:</h2>
                        <h2>General Tips</h2>
                        <ul>
                            <li><strong>Understand the Task:</strong> Whether it's an essay, report, email, or any other type of writing, start by clearly understanding what is required of you. Pay attention to instructions, objectives, and any specific criteria provided.</li>
                            <li><strong>Audience Awareness:</strong> Know who your audience is and tailor your language, style, and content to suit their expectations and needs. This will affect the tone and formality of your writing.</li>
                            <li><strong>Clarity and Conciseness:</strong> Strive for clarity in expressing your ideas. Use straightforward language and avoid unnecessary jargon or overly complex sentences that may confuse the reader.</li>
                            <li><strong>Structure and Organization:</strong> Organize your writing logically with a clear introduction, body, and conclusion. Each paragraph should focus on a single main idea, and there should be smooth transitions between paragraphs.</li>
                            <li><strong>Grammar and Punctuation:</strong> Ensure your writing is grammatically correct and properly punctuated. Mistakes can undermine the credibility of your work.</li>
                            <li><strong>Proofreading and Editing:</strong> Always review your writing before submitting it. Look for errors in grammar, spelling, and punctuation, as well as clarity and coherence in your arguments.</li>
                        </ul>
                        </section>
                        <section class="tips-section">
                        <h2>Planning Your Writing</h2>
                        <ul>
                            <li><strong>Understand the Purpose:</strong> Define the purpose of your writing (to inform, persuade, report, etc.) and keep this in mind throughout your planning process.</li>
                            <li><strong>Brainstorm Ideas:</strong> Before you start writing, jot down key points, arguments, or ideas that you want to include. This helps in organizing your thoughts and ensuring you cover all necessary points.</li>
                            <li><strong>Outline the Structure:</strong> Create a basic outline with sections such as introduction, main points, and conclusion. This serves as a roadmap for your writing and keeps you focused on the main topic.</li>
                            <li><strong>Time Management:</strong> Allocate time for planning, drafting, revising, and editing your writing. Effective time management ensures you complete your work within deadlines without rushing.</li>
                        </ul>
                        </section>
                        <section class="tips-section">
                        <h2>Tips for Different Types of Writing</h2>
                            <h3>Essay (CAE Writing Part 1)</h3>
                            <ul>
                            <li><strong>Introduction:</strong> Start with an engaging hook or general statement. Clearly state your thesis or main argument.</li>
                            <li><strong>Body Paragraphs:</strong> Each paragraph should focus on a distinct idea or aspect related to the topic. Support each point with evidence, examples, or reasoning.</li>
                            <li><strong>Language Use:</strong> Use a variety of sentence structures and linking words (e.g., however, therefore, moreover) to connect ideas and paragraphs.</li>
                            <li><strong>Formal Tone:</strong> Maintain a formal tone throughout. Avoid contractions (e.g., don't, can't) and colloquial language.</li>
                            <li><strong>Conclusion:</strong> Summarize the main points and restate your thesis. Provide a concluding thought or implication related to the topic.</li>
                            </ul>
                            <div class="tips-img-box">
                                <a href="/static/imagenes/tips/essay1.jpeg" download="essay1.jpeg">
                                    <img src="/static/imagenes/tips/essay1.jpeg" alt="Essay 1">
                                </a>
                                <a href="/static/imagenes/tips/essay2.jpeg" download="essay2.jpeg">
                                    <img src="/static/imagenes/tips/essay2.jpeg" alt="Essay 2">
                                </a>
                                <a href="/static/imagenes/tips/essay3.jpeg" download="essay3.jpeg">
                                    <img src="/static/imagenes/tips/essay3.jpeg" alt="Essay 3">
                                </a>
                                <p class="img-caption">Essay Examples. You can download them by clicking!</p>
                            </div>
                        </section>
                        <section class="tips-section"> 
                            <h3>Formal Email (CAE Writing Part 2)</h3>
                            <ul>
                            <li><strong>Subject Line:</strong> Be clear and concise about the purpose of your email.</li>
                            <li><strong>Opening:</strong> Start with a formal greeting (Dear Mr./Ms. [Last Name],) and briefly state the reason for your email.</li>
                            <li><strong>Body:</strong> Use paragraphs to structure your email. Be direct and to the point, providing necessary details and any requests or questions.</li>
                            <li><strong>Language:</strong> Use formal language and avoid contractions. Use polite language (e.g., I would appreciate it if you could...) and clear sentence structures.</li>
                            <li><strong>Closing:</strong> End with a formal closing (e.g., Yours sincerely,) and your full name.</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                            <h3>Informal Email (CAE Writing Part 2)</h3>
                            <ul>
                            <li><strong>Subject Line:</strong> Keep it casual and relevant to the content of your email.</li>
                            <li><strong>Opening:</strong> Start with an informal greeting (Hi [First Name],) and ask a friendly question or make a casual remark.</li>
                            <li><strong>Body:</strong> Write in a conversational style, using shorter sentences and paragraphs. Share information or discuss the topic informally.</li>
                            <li><strong>Language:</strong> Use contractions (e.g., I'm, can't) and idiomatic expressions. Be friendly but clear in your communication.</li>
                            <li><strong>Closing:</strong> End with an informal closing (e.g., Best regards,) or a friendly phrase and your first name.</li>
                            </ul>
                            <div class="tips-img-box">
                                <a href="/static/imagenes/tips/infemail1.jpeg" download="essay1.jpeg">
                                    <img src="/static/imagenes/tips/infemail1.jpeg" alt="Essay 1">
                                </a>
                                <a href="/static/imagenes/tips/infemail2.jpeg" download="essay2.jpeg">
                                    <img src="/static/imagenes/tips/infemail2.jpeg" alt="Essay 2">
                                </a>
                                <a href="/static/imagenes/tips/infemail3.jpeg" download="essay3.jpeg">
                                    <img src="/static/imagenes/tips/infemail3.jpeg" alt="Essay 3">
                                </a>
                                <p class="img-caption">Informal Email Examples. You can download them by clicking!</p>
                            </div>
                        </section>
                        <section class="tips-section">
                        <h2>Useful Connectors for CAE Writing</h2>
                        <ul>
                            <li><strong>Adding Information:</strong> Furthermore, Moreover, Additionally, What is more, Besides</li>
                            <li><strong>Contrast:</strong> However, On the other hand, Nevertheless, Nonetheless, Conversely</li>
                            <li><strong>Cause and Effect:</strong> Therefore, Thus, Consequently, As a result, Hence</li>
                            <li><strong>Example:</strong> For example, For instance, Such as, In particular</li>
                            <li><strong>Conclusion:</strong> In conclusion, To sum up, Ultimately, Overall, In summary</li>
                        </ul>
                        </section>
                        <section class="tips-section">
                            <h2 class="tips-main" id="listen">Listening Tips:</h2>
                            <h3>Part 1: Multiple Choice</h3>
                            <ul>
                                <li>Read the questions carefully before listening to the recording to understand what information you need to listen for.</li>
                                <li>Pay attention to the instructions, as they may specify the number of words or phrases you need to choose.</li>
                                <li>Use the time given to read the options before the recording starts, so you have an idea of what to listen for.</li>
                                <li>Listen for keywords and synonyms that match the options provided.</li>
                                <li>Be cautious of distractors and carefully consider all options before making your final choice.</li>
                            </ul>
                        
                            <h3>Part 2: Sentence Completion</h3>
                            <ul>
                                <li>Read the incomplete sentence carefully before listening to the recording to understand the context.</li>
                                <li>Predict the type of word or information you need to complete the sentence.</li>
                                <li>Focus on listening for specific details or words that fit grammatically and contextually in the sentence.</li>
                                <li>Take note of any keywords or clues in the recording that can help you complete the sentence accurately.</li>
                                <li>Check your answer for grammar and coherence with the rest of the sentence.</li>
                            </ul>
                        
                            <h3>Part 3: Multiple Choice</h3>
                            <ul>
                                <li>Skim through the questions and options before listening to get an idea of the topic and choices available.</li>
                                <li>Listen for general understanding of the conversation or discussion to identify the main topic or purpose.</li>
                                <li>Pay attention to the speakers' opinions, attitudes, or intentions as they may help you eliminate incorrect options.</li>
                                <li>Be alert for distractors and closely compare the options to the information provided in the recording.</li>
                                <li>Use your listening time effectively by taking brief notes to help you remember key details.</li>
                            </ul>
                        
                            <h3>Part 4: Multiple Matching</h3>
                            <ul>
                                <li>Read the statements or questions and the possible options before listening to get an overview of the content.</li>
                                <li>Pay attention to the keywords or phrases in the statements to guide your listening.</li>
                                <li>Listen for specific information or opinions that match each statement or question.</li>
                                <li>Take notes while listening to help you keep track of the information and match it to the correct option.</li>
                                <li>Be careful with similar-sounding options and eliminate choices that do not align with the information in the recording.</li>
                            </ul>
                        
                            <h3>Overall Tips:</h3>
                            <ul>
                                <li>Practice active listening by focusing on the main ideas, supporting details, and specific information.</li>
                                <li>Develop your ability to listen for gist, specific details, speaker attitude, and speaker purpose.</li>
                                <li>Familiarize yourself with a variety of accents and listening styles through practice materials and authentic sources.</li>
                                <li>Improve your vocabulary and understanding of synonyms, paraphrases, and idiomatic expressions.</li>
                                <li>Use your time wisely by reading the questions and options in advance, and taking quick notes during the listening.</li>
                            </ul>
                        </section>
                        <section class="tips-section">
                            <h2 class="tips-main" id="speak">Spaking Tips:</h2>
                        
                            <h3>Part 1: Interview</h3>
                            <ul>
                                <li>Make pauses to think. Think before talking. If you don't know what to say, use expressions like "Well…" or "That's a good question…" while you gather your thoughts.</li>
                                <li>Be prepared to engage in a conversation with the examiner. Treat it as a natural conversation rather than a formal test.</li>
                                <li>Give extended responses with elaboration, providing additional details and examples.</li>
                                <li>Use a wide range of vocabulary and grammatical structures to showcase your language skills.</li>
                                <li>Demonstrate your ability to express opinions, speculate, and make comparisons.</li>
                                <li>Maintain good pronunciation, intonation, and fluency throughout the conversation.</li>
                            </ul>
                        
                            <h3>Part 2: Long Turn</h3>
                            <ul>
                                <li>Read the task prompt carefully and ensure you understand the topic and what is expected of you.</li>
                                <li>Take some time to plan your response, brainstorming ideas and organizing them into a logical structure.</li>
                                <li>Include relevant details and examples to support your points.</li>
                                <li>Use a variety of sentence structures and vocabulary to demonstrate your language proficiency.</li>
                                <li>Keep an eye on the time and ensure that you address all parts of the prompt within the given timeframe.</li>
                            </ul>
                        
                            <h3>Part 3: Collaborative Task</h3>
                            <ul>
                                <li>Listen actively to your partner's opinions and ideas, and respond appropriately.</li>
                                <li>Engage in a balanced and meaningful discussion, giving equal opportunities for both yourself and your partner to speak.</li>
                                <li>Show respect for your partner's ideas, even if you disagree, and try to find common ground or build upon their points.</li>
                                <li>Use linking words and phrases to express your opinion, make suggestions, agree, disagree, or add further information.</li>
                                <li>Practice turn-taking and be mindful of not dominating the conversation.</li>
                            </ul>
                        
                            <h3>USEFUL SENTENCES</h3>
                            <ul>
                                <li><strong>Change subject:</strong> By the way… Anyway</li>
                                <li><strong>If you agree:</strong> You mean! Absolutely That's a good point</li>
                                <li><strong>Asking for opinion:</strong> What do you think? Do you agree? Am I right?</li>
                                <li><strong>Disagreeing:</strong> I'm afraid that's not right. I don't think so. That's not always true.</li>
                                <li>When your partner talks, make noises to show you are listening to them, but really listen to their opinion.</li>
                            </ul>
                        
                            <h3>Part 4: Discussion</h3>
                            <ul>
                                <li>Familiarize yourself with the topic areas and potential discussion points related to the theme of the task.</li>
                                <li>Listen carefully to your partner's opinions and respond thoughtfully, acknowledging their points.</li>
                                <li>Develop your ideas in a clear and organized manner, providing relevant examples and arguments.</li>
                                <li>Use language to express agreement, disagreement, and personal preferences, while supporting your statements.</li>
                                <li>Maintain a natural pace, fluency, and clarity of speech throughout the discussion.</li>
                            </ul>
                        
                            <h3>Overall Tips:</h3>
                            <ul>
                                <li>Practice speaking English regularly, engaging in conversations with native or proficient speakers.</li>
                                <li>Develop your ability to express opinions, give reasons, speculate, and support your ideas with examples.</li>
                                <li>Work on your pronunciation, intonation, and stress patterns to enhance your spoken English.</li>
                                <li>Use a wide range of vocabulary and grammatical structures to showcase your language proficiency.</li>
                                <li>Be an active listener, responding appropriately to your partner and engaging in meaningful exchanges.</li>
                            </ul>
                        </section>
                    </section>
                </section>
        </section>
    </section>

{% endblock %}