{% extends "layout.html" %}

{% block title %}
    Camboost - Tips 
{% endblock %}

{% block header_class %}videos-header{% endblock %}

{% block content %}

    <section class="simple-banner">
        <img src="/static/imagenes/banners/bannerl4.jpg" alt="Image of people working">
    </section>

<section class="center">
    <section class="width">
                                <section class="videosection">
                                    <h1>Youtube videos for our students</h1>
                                    <div class="video-container">
                                        <a class="video" href="https://www.youtube.com/watch?v=M7FjHjC0nNo" target="_blank">
                                            <img src="https://img.youtube.com/vi/M7FjHjC0nNo/0.jpg" alt="Video Thumbnail">
                                        </a>
                                        <a class="video" href="https://www.youtube.com/watch?v=pDuDFMB0OCw" target="_blank">
                                            <img src="https://img.youtube.com/vi/pDuDFMB0OCw/0.jpg" alt="Video Thumbnail">
                                        </a>
                                        <a class="video" href="https://www.youtube.com/watch?v=06s-HUV_ORI" target="_blank">
                                            <img src="https://img.youtube.com/vi/06s-HUV_ORI/0.jpg" alt="Video Thumbnail">
                                        </a>
                                        <a class="video" href="https://www.youtube.com/watch?v=XmwzNV4_e6E" target="_blank">
                                            <img src="https://img.youtube.com/vi/XmwzNV4_e6E/0.jpg" alt="Video Thumbnail">
                                        </a>
                                        <a class="video" href="https://www.youtube.com/watch?v=BaX7xwa8Vh4" target="_blank">
                                            <img src="https://img.youtube.com/vi/BaX7xwa8Vh4/0.jpg" alt="Video Thumbnail">
                                        </a>
                                        <!-- Add or remove video links as needed -->
                                    </div>
                                    <section class="donations">
                                        <h2>Donations and help</h2>
                                        <p>As a self-supported team we need to maintain and pay for each video we create for us, as well as the maintenance of the website itself. So any money that can be donated will be received happily and thankfully.</p>
                                        <div class="donation-buttons">
                                            <a href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=tu_preference_id" target="_blank">
                                                <img src="/static/imagenes/videos/mp.png" alt="Donar con Mercado Pago">
                                            </a>
                                            <a href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=tu_preference_id" target="_blank">
                                                <img src="/static/imagenes/videos/pp.png" alt="Donar con Paypal">
                                            </a>
                                            <a href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=tu_preference_id" target="_blank">
                                                <img src="/static/imagenes/videos/co.png" alt="Donar con Cafecito">
                                            </a>
                                        </div>
                                    </section>
                                </section>
            </section>
        </section>

{% endblock %}